.container {
  border-radius: 0.5rem;
  overflow: hidden;

  @include responsive(769) {
    max-width: 769px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'one two';
    width: 100%;
  }
}

.main {
  background-color: $dark-desaturated-blue;
  text-align: center;
  padding: 2em 0;
  max-width: 375px;

  h1 {
    margin: 0 2em;
    margin-bottom: 1em;
  }

  .discover {
    margin: 0 2em;
    margin-bottom: 2em;
  }

  .stat {
    margin-bottom: 0.5em;
    line-height: 1em;
    font-size: 1.5em;
    font-family: $inter;
    font-weight: 900;
    span {
      text-transform: uppercase;
      font-family: $lexend;
      font-weight: map-get($map: $font-weight, $key: lexendRegular);
      font-size: 0.825rem;
    }
  }

  @include responsive(769) {
    grid-area: one;

    .stat-container {
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      margin: 2rem;
    }
  }
}
