.main-bg {
  background-color: $very-dark-blue;
}

.card-bg {
  background-color: $dark-desaturated-blue;
}

.accent {
  background-color: $soft-violet;
}

.txt-accent {
  color: $soft-violet;
}

.white {
  color: $white;
}

.p {
  color: $paragraph-transparent-white;
}

.stat {
  color: $stat-transparent-white;
}

.inter {
  font-family: $inter;
}

.lexend {
  font-family: $lexend;
}

.ireg {
  font-weight: map-get($font-weight, interRegular);
}

.bold {
  font-weight: map-get($font-weight, interBold);
}

.lreg {
  font-weight: map-get($font-weight, lexendRegular);
}
