.main-bg {
  background-color: $very-dark-blue;
}

.card-bg {
  background-color: $dark-desaturated-blue;
}

.accent {
  background-color: $soft-violet;
}

.txt-accent {
  color: $soft-violet;
}

.white {
  color: $white;
}

.p {
  color: $paragraph-transparent-white;
}

.stat {
  color: $stat-transparent-white;
}
